main{
    height: 100vh;
    background: url("https://esports.as.com/2020/09/15/bonus/setup-gaming-vista-Reddit_1392170788_496486_1440x600.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#img_name{
    text-align: center;
    img{
        margin: auto;
        padding: 5rem 0;
        display: block;
        border-radius: 100%;
    }
}